.css-hlj6pa-MuiDialogActions-root {

    display: none !important;
}

.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton {
    display: none !important;
}

.css-epd502 {

}

.info {
    max-width: 100%;
}

/* .img-fluid {
    max-width: 50%;
} */
/* 
LocalizationProvider {
    max-width: 50%;
} */
/* 
Calendar {
    max-width: 50%;
    max-height: 50%;
} */

.scroll::-webkit-scrollbar {
    display: none;
}