.App {
  width: 100vw;
  height: 100vh;
}
body{
  padding: 0;
  margin: 0;
}

.VerticalBar{
  height: 100vh;
  width: 180px;
  background-color: #2F4050;
}
.VerticalbarList{
  height: auto;
  padding: 0;
  width: 100%;
}

.VerticalbarList .row{
  width: 100%;
  height: 90px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.VerticalbarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}
.VerticalbarList #active {
  background-color: #293846;

}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 70%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
